body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booklist {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  width: 60%;
}

#booklist li {
  display: flex;
  justify-content: space-between;
}

#booklist li button {
  margin-left: 12px;
}
